@page "/"
@inherits EmployeeListBase

<h3>EmployeeList</h3>
<div>
    <label for="counter">Number of selected employee: @SelectedEmployeeCount</label>
</div>
<div>
    <label for="showFooter">Show footer:</label>
    <input id="showFooter" type="checkbox" checked="checked" @onchange="@(() => ShowFooter = !ShowFooter)" />
</div>

@if (Employees == null)
{
    <div class="loader"></div>
}
else
{
    <div class="card-deck">
        @foreach (var employee in Employees)
        {
            <DisplayEmployee Employee="employee" ShowFooter="ShowFooter" OnEmployeeSelection=EmployeeSelectionChange></DisplayEmployee>
        }
    </div>
}
